-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: freelancerdb
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avaliacoes_avaliacao`
--

DROP TABLE IF EXISTS `avaliacoes_avaliacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avaliacoes_avaliacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nota` int NOT NULL,
  `comentario` longtext COLLATE utf8mb4_unicode_ci,
  `data_avaliacao` datetime(6) NOT NULL,
  `avaliador_id` bigint NOT NULL,
  `contrato_id` bigint NOT NULL,
  `avaliado_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `avaliacoes_avaliacao_contrato_id_avaliador_id_6bc9f487_uniq` (`contrato_id`,`avaliador_id`),
  KEY `avaliacoes_avaliacao_avaliado_id_c6ce8402_fk_usuarios_usuario_id` (`avaliado_id`),
  KEY `avaliacoes_avaliacao_avaliador_id_fa942c21_fk_usuarios_` (`avaliador_id`),
  KEY `avaliacoes_avaliacao_contrato_id_27a1116b` (`contrato_id`),
  CONSTRAINT `avaliacoes_avaliacao_avaliado_id_c6ce8402_fk_usuarios_usuario_id` FOREIGN KEY (`avaliado_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `avaliacoes_avaliacao_avaliador_id_fa942c21_fk_usuarios_` FOREIGN KEY (`avaliador_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `avaliacoes_avaliacao_contrato_id_27a1116b_fk_contratos` FOREIGN KEY (`contrato_id`) REFERENCES `contratos_contrato` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avaliacoes_avaliacao`
--

LOCK TABLES `avaliacoes_avaliacao` WRITE;
/*!40000 ALTER TABLE `avaliacoes_avaliacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `avaliacoes_avaliacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratos_contrato`
--

DROP TABLE IF EXISTS `contratos_contrato`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contratos_contrato` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_inicio` date NOT NULL,
  `data_fim` date DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cliente_id` bigint NOT NULL,
  `freelancer_id` bigint NOT NULL,
  `proposta_id` bigint NOT NULL,
  `trabalho_id` bigint NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `contratos_contrato_cliente_id_1993b39b_fk_usuarios_usuario_id` (`cliente_id`),
  KEY `contratos_contrato_freelancer_id_5efbfbd8_fk_usuarios_usuario_id` (`freelancer_id`),
  KEY `contratos_contrato_proposta_id_8dfd092d_fk_propostas_proposta_id` (`proposta_id`),
  KEY `contratos_contrato_trabalho_id_cd262a74_fk_trabalhos_trabalho_id` (`trabalho_id`),
  CONSTRAINT `contratos_contrato_cliente_id_1993b39b_fk_usuarios_usuario_id` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `contratos_contrato_freelancer_id_5efbfbd8_fk_usuarios_usuario_id` FOREIGN KEY (`freelancer_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `contratos_contrato_proposta_id_8dfd092d_fk_propostas_proposta_id` FOREIGN KEY (`proposta_id`) REFERENCES `propostas_proposta` (`id`),
  CONSTRAINT `contratos_contrato_trabalho_id_cd262a74_fk_trabalhos_trabalho_id` FOREIGN KEY (`trabalho_id`) REFERENCES `trabalhos_trabalho` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratos_contrato`
--

LOCK TABLES `contratos_contrato` WRITE;
/*!40000 ALTER TABLE `contratos_contrato` DISABLE KEYS */;
/*!40000 ALTER TABLE `contratos_contrato` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denuncias_denuncia`
--

DROP TABLE IF EXISTS `denuncias_denuncia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denuncias_denuncia` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `motivo` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `denunciante_id` bigint NOT NULL,
  `resposta_admin` longtext COLLATE utf8mb4_unicode_ci,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `denunciado_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `denuncias_denuncia_denunciante_id_fdbff647_fk_usuarios_` (`denunciante_id`),
  KEY `denuncias_denuncia_denunciado_id_c9440a35_fk_usuarios_usuario_id` (`denunciado_id`),
  CONSTRAINT `denuncias_denuncia_denunciado_id_c9440a35_fk_usuarios_usuario_id` FOREIGN KEY (`denunciado_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `denuncias_denuncia_denunciante_id_fdbff647_fk_usuarios_` FOREIGN KEY (`denunciante_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denuncias_denuncia`
--

LOCK TABLES `denuncias_denuncia` WRITE;
/*!40000 ALTER TABLE `denuncias_denuncia` DISABLE KEYS */;
/*!40000 ALTER TABLE `denuncias_denuncia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id` FOREIGN KEY (`user_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(11,'avaliacoes','avaliacao'),(4,'contenttypes','contenttype'),(9,'contratos','contrato'),(13,'denuncias','denuncia'),(14,'habilidades','habilidade'),(12,'mensagens','mensagem'),(16,'notificacoes','notificacao'),(10,'pagamentos','pagamento'),(8,'propostas','proposta'),(5,'sessions','session'),(7,'trabalhos','trabalho'),(15,'usuarios','notificacao'),(6,'usuarios','usuario');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('t83mztpdrvhgu0w9pxb67x7h0lmq3bo3','.eJxVjMsOwiAQRf-FtSHSGR516d5vIDADUjWQlHZl_HfbpAvd3nPOfQsf1qX4tafZTywuQonT7xYDPVPdAT9CvTdJrS7zFOWuyIN2eWucXtfD_TsooZetpgDWmXNyGgkNWUWMBDiMlAkAI2POWbHDUZuNO5eG0RrlADREGlh8vt72N4o:1uLsKS:tYgODHr7V8ml3cJUmx-eZ15P_dZ8Gr38oTQswr10Uns','2025-06-15 23:43:00.763942');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `habilidades_habilidade`
--

DROP TABLE IF EXISTS `habilidades_habilidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `habilidades_habilidade` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `categoria` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subcategoria` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `habilidades_habilidade`
--

LOCK TABLES `habilidades_habilidade` WRITE;
/*!40000 ALTER TABLE `habilidades_habilidade` DISABLE KEYS */;
INSERT INTO `habilidades_habilidade` VALUES (1,'Django',NULL,NULL),(2,'Backend',NULL,NULL),(3,'Frontend',NULL,NULL),(4,'Python',NULL,NULL),(5,'React',NULL,NULL),(6,'Java',NULL,NULL),(7,'Php',NULL,NULL);
/*!40000 ALTER TABLE `habilidades_habilidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagens_mensagem`
--

DROP TABLE IF EXISTS `mensagens_mensagem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mensagens_mensagem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `texto` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_envio` datetime(6) NOT NULL,
  `contrato_id` bigint NOT NULL,
  `remetente_id` bigint NOT NULL,
  `editada_em` datetime(6) DEFAULT NULL,
  `anexo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `destinatario_id` bigint NOT NULL,
  `excluida` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mensagens_mensagem_remetente_id_217b3f05_fk_usuarios_usuario_id` (`remetente_id`),
  KEY `mensagens_mensagem_destinatario_id_93db7006` (`destinatario_id`),
  KEY `mensagens_mensagem_contrato_id_d93bdfef` (`contrato_id`),
  CONSTRAINT `mensagens_mensagem_contrato_id_d93bdfef_fk_contratos_contrato_id` FOREIGN KEY (`contrato_id`) REFERENCES `contratos_contrato` (`id`),
  CONSTRAINT `mensagens_mensagem_destinatario_id_93db7006_fk_usuarios_` FOREIGN KEY (`destinatario_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `mensagens_mensagem_remetente_id_217b3f05_fk_usuarios_usuario_id` FOREIGN KEY (`remetente_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagens_mensagem`
--

LOCK TABLES `mensagens_mensagem` WRITE;
/*!40000 ALTER TABLE `mensagens_mensagem` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensagens_mensagem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificacoes_notificacao`
--

DROP TABLE IF EXISTS `notificacoes_notificacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificacoes_notificacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mensagem` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `link` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lida` tinyint(1) NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notificacoes_notific_usuario_id_808d460a_fk_usuarios_` (`usuario_id`),
  CONSTRAINT `notificacoes_notific_usuario_id_808d460a_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=350 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificacoes_notificacao`
--

LOCK TABLES `notificacoes_notificacao` WRITE;
/*!40000 ALTER TABLE `notificacoes_notificacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificacoes_notificacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagamentos_pagamento`
--

DROP TABLE IF EXISTS `pagamentos_pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagamentos_pagamento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `valor` decimal(10,2) NOT NULL,
  `data_pagamento` datetime(6) NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `metodo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_transacao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacoes` longtext COLLATE utf8mb4_unicode_ci,
  `cliente_id` bigint NOT NULL,
  `contrato_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `contrato_id` (`contrato_id`),
  KEY `pagamentos_pagamento_cliente_id_09419083_fk_usuarios_usuario_id` (`cliente_id`),
  CONSTRAINT `pagamentos_pagamento_cliente_id_09419083_fk_usuarios_usuario_id` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `pagamentos_pagamento_contrato_id_d68dbb6d_fk_contratos` FOREIGN KEY (`contrato_id`) REFERENCES `contratos_contrato` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagamentos_pagamento`
--

LOCK TABLES `pagamentos_pagamento` WRITE;
/*!40000 ALTER TABLE `pagamentos_pagamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagamentos_pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `propostas_proposta`
--

DROP TABLE IF EXISTS `propostas_proposta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `propostas_proposta` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descricao` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `prazo_estimado` date NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_envio` datetime(6) NOT NULL,
  `freelancer_id` bigint NOT NULL,
  `trabalho_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `propostas_proposta_freelancer_id_0193679d_fk_usuarios_usuario_id` (`freelancer_id`),
  KEY `propostas_proposta_trabalho_id_c00c2741_fk_trabalhos_trabalho_id` (`trabalho_id`),
  CONSTRAINT `propostas_proposta_freelancer_id_0193679d_fk_usuarios_usuario_id` FOREIGN KEY (`freelancer_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `propostas_proposta_trabalho_id_c00c2741_fk_trabalhos_trabalho_id` FOREIGN KEY (`trabalho_id`) REFERENCES `trabalhos_trabalho` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `propostas_proposta`
--

LOCK TABLES `propostas_proposta` WRITE;
/*!40000 ALTER TABLE `propostas_proposta` DISABLE KEYS */;
/*!40000 ALTER TABLE `propostas_proposta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabalhos_trabalho`
--

DROP TABLE IF EXISTS `trabalhos_trabalho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabalhos_trabalho` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `prazo` date NOT NULL,
  `orcamento` decimal(10,2) NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `anexo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cliente_id` bigint NOT NULL,
  `atualizado_em` datetime(6) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `trabalhos_trabalho_cliente_id_527c6e6e_fk_usuarios_usuario_id` (`cliente_id`),
  CONSTRAINT `trabalhos_trabalho_cliente_id_527c6e6e_fk_usuarios_usuario_id` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabalhos_trabalho`
--

LOCK TABLES `trabalhos_trabalho` WRITE;
/*!40000 ALTER TABLE `trabalhos_trabalho` DISABLE KEYS */;
/*!40000 ALTER TABLE `trabalhos_trabalho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabalhos_trabalho_habilidades`
--

DROP TABLE IF EXISTS `trabalhos_trabalho_habilidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabalhos_trabalho_habilidades` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `trabalho_id` bigint NOT NULL,
  `habilidade_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `trabalhos_trabalho_habil_trabalho_id_habilidade_i_f38fbcfd_uniq` (`trabalho_id`,`habilidade_id`),
  KEY `trabalhos_trabalho_h_habilidade_id_439e87cd_fk_habilidad` (`habilidade_id`),
  CONSTRAINT `trabalhos_trabalho_h_habilidade_id_439e87cd_fk_habilidad` FOREIGN KEY (`habilidade_id`) REFERENCES `habilidades_habilidade` (`id`),
  CONSTRAINT `trabalhos_trabalho_h_trabalho_id_3d0d3eea_fk_trabalhos` FOREIGN KEY (`trabalho_id`) REFERENCES `trabalhos_trabalho` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabalhos_trabalho_habilidades`
--

LOCK TABLES `trabalhos_trabalho_habilidades` WRITE;
/*!40000 ALTER TABLE `trabalhos_trabalho_habilidades` DISABLE KEYS */;
INSERT INTO `trabalhos_trabalho_habilidades` VALUES (1,3,1),(2,3,2),(3,4,1),(4,5,1),(11,8,1),(12,8,3),(13,8,4),(15,9,1),(16,9,5),(17,11,1),(18,13,5),(19,15,6),(20,16,4),(21,17,4),(22,18,1),(23,19,5),(24,19,6),(29,27,7);
/*!40000 ALTER TABLE `trabalhos_trabalho_habilidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_notificacao`
--

DROP TABLE IF EXISTS `usuarios_notificacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_notificacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mensagem` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lida` tinyint(1) NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `usuario_id` bigint NOT NULL,
  `link` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `usuarios_notificacao_usuario_id_85bc9de3_fk_usuarios_usuario_id` (`usuario_id`),
  CONSTRAINT `usuarios_notificacao_usuario_id_85bc9de3_fk_usuarios_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_notificacao`
--

LOCK TABLES `usuarios_notificacao` WRITE;
/*!40000 ALTER TABLE `usuarios_notificacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_notificacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_usuario`
--

DROP TABLE IF EXISTS `usuarios_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_usuario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cpf` varchar(14) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cnpj` varchar(18) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `foto_perfil` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `nota_media` double DEFAULT NULL,
  `notificacao_email` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `usuarios_usuario_cnpj_d3454581_uniq` (`cnpj`),
  UNIQUE KEY `usuarios_usuario_cpf_55a4a332_uniq` (`cpf`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_usuario`
--

LOCK TABLES `usuarios_usuario` WRITE;
/*!40000 ALTER TABLE `usuarios_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_usuario_groups`
--

DROP TABLE IF EXISTS `usuarios_usuario_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_usuario_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq` (`usuario_id`,`group_id`),
  KEY `usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id` (`group_id`),
  CONSTRAINT `usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_usuario_groups`
--

LOCK TABLES `usuarios_usuario_groups` WRITE;
/*!40000 ALTER TABLE `usuarios_usuario_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_usuario_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_usuario_user_permissions`
--

DROP TABLE IF EXISTS `usuarios_usuario_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_usuario_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq` (`usuario_id`,`permission_id`),
  KEY `usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm` (`permission_id`),
  CONSTRAINT `usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_usuario_user_permissions`
--

LOCK TABLES `usuarios_usuario_user_permissions` WRITE;
/*!40000 ALTER TABLE `usuarios_usuario_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_usuario_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-24 20:17:29
